{% extends "base.html" %}
{% block content %}

<h3>Add Recipe</h3>

<div class="row">
    <form class="" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- name of the recipe  -->
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_name">Recipe Name</label>
                <input id="recipe_name" name="recipe_name" minlength="3" maxlength="60" type="text" class="validate" required>
            </div>
        </div>
         <!-- Description of the recipe  -->
         <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_description">Recipe Description</label>
                <textarea id="recipe_description" name="recipe_description" minlength="3" type="text" class="validate" required></textarea>
            </div>
        </div>
        <!-- Ingredients for the recipe  -->
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_ingredients">Recipe Ingredients</label>
                <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="3" type="text" class="validate" required></textarea>
            </div>
        </div>
        <!--  Recipe method  -->
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_method">Recipe Method</label>
                <textarea id="recipe_method" name="recipe_method" minlength="3" type="text" class="validate" required></textarea>
            </div>
        </div>
        <!--  Recipe time -->
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_time">Recipe Time (format hh:mm)</label>
                <input id="recipe_time" name="recipe_time" type="text" class="validate" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="recipe_image" class="form-label">
                 Recipe's Image (Url / Image's address)
                </label>
                <input type="text" id="recipe-image" class="form-control image-url" 
                name="recipe_image" value="{{recipe_image}}">
            </div>
        </div>
        <!-- Rendering image from url
        Code for this was adapted from StackOverflow pages and tutor support -->
        <div class="row">
            <img class="show-image" alt="display the image" 
                onerror="this.src='../../static/images/recipe-placeholder.png';"
                src="{{ url_for('static', filename='images/recipe-placeholder.png') }}">
        </div>
        <!-- Category ID-->
        <div class="row">
            <div class="input-field d-grid gap-2 col-10 mx-auto">
                <label for="category_id">Category</label>
                <select id="category_id" name="category_id" class="validate" class="form-select" aria-label="Default select example" required>
                    <option selected value="" disabled>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- the submit button -->
        <div class="row">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="add">
                    Add Recipe 
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}