<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fecc4c41c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon_io_1/favicon.ico') }}">

</head>
<body>
    
   <header>
    <!-- Bootstrap responsive header-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <img src="{{ url_for('static', filename='images/food-logo.png') }}" width="90" alt="veg logo" class="logo">
          <a class="navbar-brand" href="{{ url_for('home')}}">Julia's Cooking Company</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a>
              </li>
              {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_recipe') }}">Add a Recipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('categories')}}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signout')}}">Sign Out</a>
                </li>
              {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signin')}}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signup')}}">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
  </header>

  <main>

    
{% block content %}



    <h2></h2>

    <div class="card mb-4" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{{ recipe.recipe_image }}" class="img-fluid rounded-start img-view" alt="{{ recipe.recipe_name }}">
          </div>
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-text">Get, Ready, Cook!</p>
              <p class="card-text"><small class="text-body-secondary">Time it takes to prepare: {{ recipe.recipe_time }}</small></p>
              <p class="card-text">{{ recipe.recipe_description }}</p>
            </div>
          </div>
        </div>
      </div>

    <div class="col-12 col-lg-12 view-text">
        <div class="ms-lg-4 p-3 p-md-4">
            <p>INGREDIENTS: {{ recipe.recipe_ingredients }}</p>
        </div>
        <div class="ms-lg-4 p-3 p-md-4">
            <p>METHOD: {{ recipe.recipe_method }}</p>
        </div>
        <div class="ms-lg-4 p-3 p-md-4">
            <p>CATEGORY: {{ recipe.category.category_name }}</p>
        </div>
        <div class="ms-lg-4 p-3 p-md-4">
            <a href="{{ url_for('home') }}" class="btn btn-primary">Close</a>
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id)}}" class="btn btn-primary edit-view">Edit Recipe</a>
        </div>

    </div>

    {% endblock %}
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
     <div class='alert alert-{{category}} text-center alert-dismissible fade show m-auto'>
       {{ message }}
      </div>
    {% endfor %}
   {% endwith %}

</main>

<footer>
    <a href="https://www.facebook.com" target="_blank" rel="noopener"
        aria-label="Follow us on Facebook (link will open in a new tab)"><i class="fab fa-facebook"> </i></a>
    <a href="https://www.github.com" target="_blank" rel="noopener"
        aria-label="Follow us on Github (link will open in a new tab)"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/home" target="_blank" rel="noopener"
        aria-label="Follow us on Twitter (link will open in a new tab)"><i class="fab fa-twitter"></i></a>

    <p>Copyright © 2023</p>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

