
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #000000;
    background-color: #f6e4ad;
    font-family: 'Montserrat', sans-serif;; 
}

main{
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 10vh;

}


footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

footer>a {
    font-size: 20px;
    color: #eb2632;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
}


footer>p {
    color: #000000;
    font-family: font-family: 'Montserrat', sans-serif;
    padding: 10px;
}


h3 {
    padding: 10%;
    position: relative;
    text-align: center;
}

.signin {
    padding: 3%;
}


.btn {
    background-color:#f96d00;
    border-color: #000000;
}

.btn:hover {
    background-color: #f1ecc9;
    color: #020202;
}

.add-category{
    margin: 20px;
}

.delete{
    background-color: #A31300;
}

.edit{
    background-color: darkgreen;
}

.view{
    background-color: #bbf2ed;
}