
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #000000;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif; 
}

main{
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 5vh;

}


footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

footer>a {
    font-size: 20px;
    color: #f96d00;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
}


footer>p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}


h3 {
    padding: 5%;
    position: relative;
    text-align: center;
}

h1 {
    padding-top: 5%;
    position: relative;
    text-align: center;
}

.signin {
    padding: 3%;
    text-align: center;
}


.btn {
    background-color:#f96d00;
    border-color: #000000;
    margin: 4% 0 0 4%;
}

.btn:hover {
    background-color: #f1ecc9;
    color: #000000;
}

.add-category{
    margin: 20px;
}

.delete{
    background-color: #c13131;
    margin-bottom: 10%;
}

.edit{
    background-color: #295f4e;
    
}

.view{
    background-color: #f96d00;
   
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    padding: 5 5; 
}

.text-view {
    text-align: center;
}

.add {
    margin-bottom: 15% ;
}


.img-view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.view-text {
    text-align: center;
}

.signup {
    padding: 3%;
    text-align:center;
}

.nav-img {
    margin-top: 5%;
}

.edit-view {
    background-color: #295f4e;
}

.edit-cat {
    background-color: #295f4e;
}

.edit-rec {
    background-color: #295f4e;
}

.logo {
    margin: 0 5% 0 5%;
}

.add {
    background-color: #f96d00;
    margin-top: 10%;
}

.row {
    margin:5%;
}

/* --------media queries tablet----------*/
@media screen and (max-width: 1400px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .btn{
        font-size: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .row{
        font-size: 10px;
    }



}

/* --------media queries phone----------*/
@media screen and (max-width: 1200px){
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .btn{
        font-size: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-img {
        width: 80%;
    }

    .recipe-body{
        display: none;
    }

    .row{
        font-size: 20px;
    }

    .logo {
        display: none;
    }

    h5 {
        font-size: 10px;
    }

    .time{
        display: none;
    }

    



}


/* --------media queries  small phone----------*/
@media screen and (max-width: 600px){
    .row {
        position: relative;
        display: flex;
    }
}